html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  focus-outline: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.color-primary {
  color: #01FFC2; }

.color-secondary {
  color: #E5FF00; }

.color-gray {
  color: #757575; }

p {
  font-size: 1em;
  line-height: 1.3em;
  color: #D8D8D8; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 2.4em;
  line-height: 1.15em;
  margin-bottom: 34px; }

h2 {
  font-size: 2em;
  line-height: 1.23em;
  margin-bottom: 24px; }

h3 {
  font-size: 1.5em;
  line-height: 1.05em;
  margin-bottom: 18px; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.833em; }

@media (min-width: 1024px) {
  p {
    font-size: 1.1em;
    line-height: 1.45em; }
  h1 {
    font-size: 2.6em;
    line-height: 1.2em; }
  h2 {
    font-size: 2.3em;
    line-height: 1.3em; }
  h3 {
    font-size: 1.6em;
    line-height: 1.15em; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 2.8em;
    line-height: 1.2em; }
  h2 {
    font-size: 2.4em;
    line-height: 1.15em; } }

html,
body {
  overflow-x: hidden;
  position: relative; }

body {
  background-color: #282C34;
  font-family: 'Roboto', sans-serif;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

.container {
  padding-left: 22px;
  padding-right: 22px;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 690px; } }

@media (min-width: 1024px) {
  .container {
    max-width: 900px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1024px; } }

@media (min-width: 1400px) {
  .container {
    max-width: 1120px; } }

.text-center {
  text-align: center; }

.btn-normal {
  color: #E5FF00;
  font-size: 1em;
  background-color: #1C1F26;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.833em;
  border-radius: 0.25rem;
  line-height: 1;
  letter-spacing: 0.025em; }

@media (min-width: 768px) {
  .btn-normal {
    padding: 1em 1.8em;
    line-height: normal; } }

.btn-highlight {
  color: #1F232A;
  background-color: #01FFC2;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.833em;
  border-radius: 0.25rem;
  line-height: 1;
  letter-spacing: 0.025em; }
  .btn-highlight:hover {
    background: #00EDB5; }

header.site-header .header-inner {
  padding-top: 2.3em;
  padding-bottom: 2.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  header.site-header .header-inner a .logo {
    width: 120px; }

@media (min-width: 768px) {
  header.site-header .header-inner {
    padding-top: 3em;
    padding-bottom: 3em; }
    header.site-header .header-inner a .logo {
      width: 150px; } }

@media (min-width: 1024px) {
  header.site-header .header-inner {
    padding-top: 3.5em;
    padding-bottom: 1em; } }

@media (min-width: 1200px) {
  header.site-header .header-inner {
    padding-top: 3.5em;
    padding-bottom: 1.2em; } }

@media (min-width: 1400px) {
  header.site-header .header-inner {
    padding-top: 4em;
    padding-bottom: 1.5em; } }

@media (min-width: 1600px) {
  header.site-header .header-inner {
    padding-top: 4em;
    padding-bottom: 4em; } }

.window {
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .window .window-inner {
    width: 88%;
    height: 92%;
    background: #282C34;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .window .window-inner .data {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      padding: 30px 18px; }
      .window .window-inner .data img {
        width: 240px;
        margin-bottom: 24px; }
      .window .window-inner .data h1 {
        margin-bottom: 0;
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
        font-size: 30px; }
      .window .window-inner .data p {
        margin: 0;
        text-align: center;
        font-size: 15px; }
      .window .window-inner .data form {
        margin-top: 28px; }
        .window .window-inner .data form input {
          width: 100%;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 2px;
          border: solid 0.5px #757575;
          background: transparent;
          color: #757575;
          padding: 10px 12px;
          margin-bottom: 10px; }
          .window .window-inner .data form input::-webkit-input-placeholder {
            color: gray; }
          .window .window-inner .data form input:-ms-input-placeholder {
            color: gray; }
          .window .window-inner .data form input::-ms-input-placeholder {
            color: gray; }
          .window .window-inner .data form input::placeholder {
            color: gray; }
        .window .window-inner .data form input[type="button"] {
          background: #1C1F26;
          border: transparent;
          padding-top: 12px;
          padding-bottom: 12px;
          color: #E5FF00;
          font-family: 'Roboto Condensed', sans-serif;
          text-transform: uppercase; }
    .window .window-inner .img {
      display: none; }
    .window .window-inner .close {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 32px;
      height: 32px;
      opacity: 0.6;
      cursor: pointer;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
      .window .window-inner .close:hover {
        opacity: 1; }
      .window .window-inner .close:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        cursor: pointer; }
      .window .window-inner .close:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        cursor: pointer; }
    .window .window-inner .close:before, .window .window-inner .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: white;
        background-color-cursor: pointer; }

@media (min-width: 768px) {
  .window .window-inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 84%;
    height: 90%; }
    .window .window-inner .data {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      padding: 20px 46px; }
    .window .window-inner .img {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      width: 100%;
      height: 36vh;
      background-position: top;
      background-size: cover;
      display: inherit; } }

@media (min-width: 1024px) {
  .window .window-inner {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 88%;
    height: 86%; }
    .window .window-inner .data {
      width: 45%;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      -ms-flex-line-pack: center;
      align-content: center; }
      .window .window-inner .data img {
        margin-bottom: 42px; }
      .window .window-inner .data form {
        margin-top: 40px; }
    .window .window-inner .img {
      width: 55%;
      height: 100%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }

@media (min-width: 1200px) {
  .window .window-inner {
    width: 80%;
    height: 88%; }
    .window .window-inner .data {
      padding: 30px 60px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .window .window-inner .data img {
        width: 130px;
        margin-bottom: 30px; }
      .window .window-inner .data h1 {
        font-size: 32px; }
      .window .window-inner .data form input {
        margin-bottom: 14px; } }

@media (min-width: 1400px) {
  .window .window-inner {
    width: 100%;
    height: 80%;
    max-width: 1040px; } }

@media (min-width: 1500px) {
  .window .window-inner {
    width: 100%;
    height: 66vh;
    max-width: 1040px; } }

.presentation .presentation-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .presentation .presentation-inner .data {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: center; }
  .presentation .presentation-inner .img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-bottom: 30px; }
    .presentation .presentation-inner .img img {
      width: 100%; }

@media (min-width: 768px) {
  .presentation .presentation-inner {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .presentation .presentation-inner .data {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      text-align: left; }
    .presentation .presentation-inner .img {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }

@media (min-width: 1024px) {
  .presentation .presentation-inner .data {
    width: 100%; }
    .presentation .presentation-inner .data h1 {
      font-size: 3em;
      margin-bottom: 42px; }
  .presentation .presentation-inner .img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 20px; }
    .presentation .presentation-inner .img img {
      width: 95%;
      height: 100%; } }

@media (min-width: 1200px) {
  .presentation .presentation-inner .data h1 {
    width: 70%;
    line-height: 1.22em; }
  .presentation .presentation-inner .img {
    width: 70%;
    padding-bottom: 10px; }
    .presentation .presentation-inner .img img {
      width: 100%; } }

@media (min-width: 1400px) {
  .presentation .presentation-inner .data h1 {
    font-size: 3.4em;
    line-height: 1.17em; }
  .presentation .presentation-inner .img {
    padding-bottom: 0; } }

@media (min-width: 1500px) {
  .presentation .presentation-inner .data h1 {
    font-size: 3.5em;
    line-height: 1.17em;
    margin-bottom: 42px; } }

.intro {
  margin: 7em 0; }
  .intro .intro-inner {
    padding: 0 1.5em; }
    .intro .intro-inner .features {
      margin-top: 2em; }
      .intro .intro-inner .features .item {
        padding: 0 2.5em;
        margin-bottom: 2.5em; }
        .intro .intro-inner .features .item img {
          width: 4.8em;
          margin-bottom: 24px; }

@media (min-width: 768px) {
  .intro {
    margin: 7em 0 -2em; }
    .intro .intro-inner .features {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 3em; }
      .intro .intro-inner .features .item {
        padding: 0 1em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%; }
        .intro .intro-inner .features .item img {
          width: auto;
          height: 3.5em; } }

@media (min-width: 1024px) {
  .intro {
    margin: 7em 0 -3em; }
    .intro .intro-inner h2 {
      font-size: 2.5em; }
    .intro .intro-inner .features {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .intro .intro-inner .features .item {
        padding: 0 0.5em;
        width: 33%; }
        .intro .intro-inner .features .item p {
          font-size: 1em; } }

@media (min-width: 1200px) {
  .intro {
    margin: 9em 0 -3.5em; }
    .intro .intro-inner .features {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .intro .intro-inner .features .item {
        padding: 0 1.5em;
        width: 33%; }
        .intro .intro-inner .features .item p {
          font-size: 1em; } }

.spec-presentation {
  margin: 7em 0; }
  .spec-presentation .spec-presentation-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .spec-presentation .spec-presentation-inner .img {
      width: 100%;
      position: relative;
      margin-bottom: -230px; }
      .spec-presentation .spec-presentation-inner .img img {
        width: 100%; }
      .spec-presentation .spec-presentation-inner .img::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #282c34), color-stop(80%, rgba(40, 44, 52, 0)));
        background: -webkit-linear-gradient(bottom, #282c34 30%, rgba(40, 44, 52, 0) 80%);
        background: -o-linear-gradient(bottom, #282c34 30%, rgba(40, 44, 52, 0) 80%);
        background: linear-gradient(to top, #282c34 30%, rgba(40, 44, 52, 0) 80%); }
    .spec-presentation .spec-presentation-inner .data {
      width: 100%;
      position: relative; }
      .spec-presentation .spec-presentation-inner .data ul {
        margin-top: 2em;
        margin-bottom: 3em;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        list-style-image: url(../img/check.png); }
        .spec-presentation .spec-presentation-inner .data ul li {
          color: #D8D8D8;
          font-size: 1.07em;
          line-height: 1.4em;
          margin-bottom: 0.7em;
          margin-left: 30px;
          padding-left: 10px; }
  .spec-presentation.inverse .spec-presentation-inner .img {
    margin-bottom: 1.5em; }
    .spec-presentation.inverse .spec-presentation-inner .img::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      background: none; }

@media (min-width: 768px) {
  .spec-presentation {
    margin: 8em 0; }
    .spec-presentation .spec-presentation-inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center; }
      .spec-presentation .spec-presentation-inner .img {
        margin-bottom: 0; }
        .spec-presentation .spec-presentation-inner .img img {
          width: 75%;
          margin-bottom: 0; }
        .spec-presentation .spec-presentation-inner .img::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 0;
          height: 0;
          background: none; }
        .spec-presentation .spec-presentation-inner .img.outside {
          position: relative; }
          .spec-presentation .spec-presentation-inner .img.outside img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 80vw;
            margin: auto;
            right: -50vw; }
      .spec-presentation .spec-presentation-inner .data {
        padding-bottom: 20px; }
        .spec-presentation .spec-presentation-inner .data ul {
          margin-bottom: 2.8em; }
    .spec-presentation.inverse .spec-presentation-inner .img {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    .spec-presentation.inverse .spec-presentation-inner .data {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }

@media (min-width: 1024px) {
  .spec-presentation {
    margin: 9.5em 0; }
    .spec-presentation .spec-presentation-inner .img.outside img {
      width: 85vw;
      right: -58vw;
      top: -16px; }
    .spec-presentation .spec-presentation-inner .data h2 {
      margin-bottom: 0.5em; } }

@media (min-width: 1200px) {
  .spec-presentation {
    padding-top: 20px;
    padding-bottom: 20px; }
    .spec-presentation .spec-presentation-inner .img img {
      width: 65%;
      padding-left: 1em; }
    .spec-presentation .spec-presentation-inner .img.outside img {
      width: 70vw;
      right: -50vw;
      top: 10px; }
    .spec-presentation .spec-presentation-inner .data {
      padding-bottom: 0; }
    .spec-presentation.inverse .spec-presentation-inner .data {
      width: 77%; } }

@media (min-width: 1400px) {
  .spec-presentation .spec-presentation-inner .img.outside img {
    max-width: 160%; } }

@media (min-width: 1600px) {
  .spec-presentation .spec-presentation-inner .img.outside img {
    right: -40vw; } }

.planes {
  margin: 7em 0; }
  .planes .planes-inner .planes-switcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 3em 0; }
    .planes .planes-inner .planes-switcher .btn-toggle {
      font-weight: 700;
      font-family: 'Roboto Condensed', sans-serif;
      border-radius: 0;
      text-transform: uppercase;
      background: #383C45;
      color: #D8D8D8;
      padding: 0.7em 0;
      width: 50%;
      outline: none;
      border: none; }
      .planes .planes-inner .planes-switcher .btn-toggle:first-child {
        border-top-left-radius: 0.25em;
        border-bottom-left-radius: 0.25em; }
      .planes .planes-inner .planes-switcher .btn-toggle:last-child {
        border-top-right-radius: 0.25em;
        border-bottom-right-radius: 0.25em; }
      .planes .planes-inner .planes-switcher .btn-toggle.active {
        background: #1F232A;
        color: #E5FF00; }
  .planes .planes-inner .los-planes {
    position: relative; }
    .planes .planes-inner .los-planes .precios-beta {
      width: 100%;
      height: 102%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: red;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #282c34), to(rgba(40, 44, 52, 0)));
      background: -webkit-linear-gradient(bottom, #282c34 30%, rgba(40, 44, 52, 0) 100%);
      background: -o-linear-gradient(bottom, #282c34 30%, rgba(40, 44, 52, 0) 100%);
      background: linear-gradient(to top, #282c34 30%, rgba(40, 44, 52, 0) 100%); }
      .planes .planes-inner .los-planes .precios-beta .precios-beta-inner {
        margin-left: auto;
        margin-right: auto;
        width: 95%; }
    .planes .planes-inner .los-planes .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      border: solid 1px rgba(147, 147, 147, 0.3);
      padding: 2em;
      margin-bottom: 22px;
      border-radius: 4px; }
      .planes .planes-inner .los-planes .item h3 {
        text-transform: uppercase;
        font-size: 1.44em;
        width: 100%;
        margin-bottom: 0.75em; }
      .planes .planes-inner .los-planes .item hr {
        width: 100%;
        height: 0;
        border: none;
        border-bottom: solid 1px rgba(147, 147, 147, 0.3); }
      .planes .planes-inner .los-planes .item h2 {
        width: 100%;
        text-transform: uppercase;
        font-size: 2em;
        margin-top: 0.5em;
        margin-bottom: 0.15em; }
      .planes .planes-inner .los-planes .item p {
        width: 100%;
        color: #D8D8D8;
        margin-bottom: 0.75em; }
      .planes .planes-inner .los-planes .item ul {
        color: #D8D8D8;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
        list-style-image: url(../img/check.png); }
        .planes .planes-inner .los-planes .item ul li {
          margin-bottom: 0.75em;
          margin-left: 30px;
          padding-left: 10px;
          line-height: 24px; }
      .planes .planes-inner .los-planes .item.highlighten {
        background: #1F232A;
        border-color: #1F232A; }
    .planes .planes-inner .los-planes.beta .item:nth-child(3), .planes .planes-inner .los-planes.beta .item:nth-child(4) {
      display: none; }

@media (min-width: 768px) {
  .planes .planes-inner h1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .planes .planes-inner .planes-switcher {
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
  .planes .planes-inner .los-planes .precios-beta {
    padding-bottom: 12%; }
    .planes .planes-inner .los-planes .precios-beta .precios-beta-inner {
      width: 60%; } }

@media (min-width: 1024px) {
  .planes {
    margin-top: 12em; }
    .planes .planes-inner h1 {
      width: 70%; }
    .planes .planes-inner .planes-switcher {
      width: 30%; }
    .planes .planes-inner .los-planes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .planes .planes-inner .los-planes .precios-beta {
        padding-bottom: 8%;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #282c34), color-stop(90%, rgba(40, 44, 52, 0)));
        background: -webkit-linear-gradient(bottom, #282c34 35%, rgba(40, 44, 52, 0) 90%);
        background: -o-linear-gradient(bottom, #282c34 35%, rgba(40, 44, 52, 0) 90%);
        background: linear-gradient(to top, #282c34 35%, rgba(40, 44, 52, 0) 90%); }
        .planes .planes-inner .los-planes .precios-beta .precios-beta-inner h2 {
          font-size: 2.6em; }
      .planes .planes-inner .los-planes .item {
        width: 24.5%; }
        .planes .planes-inner .los-planes .item h2 {
          margin-bottom: 0; }
        .planes .planes-inner .los-planes .item p {
          font-size: 0.95em; }
        .planes .planes-inner .los-planes .item a {
          -ms-flex-item-align: end;
          align-self: flex-end;
          width: 100%;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin-top: auto; }
        .planes .planes-inner .los-planes .item.highlighten {
          margin-top: -10px;
          margin-bottom: -1px; }
      .planes .planes-inner .los-planes.beta .item:nth-child(3), .planes .planes-inner .los-planes.beta .item:nth-child(4) {
        display: inherit; } }

@media (min-width: 1200px) {
  .planes .planes-inner h1 {
    width: 60%; }
  .planes .planes-inner .los-planes .precios-beta {
    padding-bottom: 6%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #282c34), color-stop(90%, rgba(40, 44, 52, 0)));
    background: -webkit-linear-gradient(bottom, #282c34 40%, rgba(40, 44, 52, 0) 90%);
    background: -o-linear-gradient(bottom, #282c34 40%, rgba(40, 44, 52, 0) 90%);
    background: linear-gradient(to top, #282c34 40%, rgba(40, 44, 52, 0) 90%); }
    .planes .planes-inner .los-planes .precios-beta .precios-beta-inner {
      width: 50%; }
      .planes .planes-inner .los-planes .precios-beta .precios-beta-inner h2 {
        font-size: 2.6em;
        line-height: 1.25em; }
  .planes .planes-inner .los-planes .item {
    width: 25%; }
    .planes .planes-inner .los-planes .item.highlighten {
      width: 27%; } }

@media (min-width: 1400px) {
  .planes {
    margin-top: 15em; } }

.personaliza {
  margin-top: -4.5em;
  margin-bottom: 6em; }
  .personaliza .personaliza-inner .items {
    margin-top: 2.7em; }
    .personaliza .personaliza-inner .items ul {
      list-style-image: url(../img/check.png); }
      .personaliza .personaliza-inner .items ul li {
        color: #D8D8D8;
        font-size: 1.07em;
        line-height: 1.4em;
        margin-bottom: 0.7em;
        margin-left: 30px;
        padding-left: 10px; }
      .personaliza .personaliza-inner .items ul:first-child {
        margin-top: 2em; }
      .personaliza .personaliza-inner .items ul:last-child {
        margin-bottom: 3em; }

@media (min-width: 768px) {
  .personaliza .personaliza-inner .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 2.3em;
    margin-bottom: 32px; }
    .personaliza .personaliza-inner .items ul {
      padding-right: 14px; }
      .personaliza .personaliza-inner .items ul:first-child {
        margin-top: 0; }
      .personaliza .personaliza-inner .items ul:last-child {
        margin-bottom: 0; } }

@media (min-width: 1024px) {
  .personaliza .personaliza-inner h1:first-child {
    margin-bottom: 20px;
    font-size: 2.8em; }
  .personaliza .personaliza-inner .items ul {
    padding-right: 0;
    padding-left: 22px; } }

.promo-full {
  background-color: #1C1F26;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6em 0; }
  .promo-full .promo-inner h1 {
    margin-bottom: 20px; }
  .promo-full .promo-inner p {
    margin-bottom: 2.2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }

@media (min-width: 768px) {
  .promo-full {
    padding: 9em 0; }
    .promo-full .promo-inner {
      width: 60%; }
      .promo-full .promo-inner p {
        margin-bottom: 2.4em; } }

@media (min-width: 1200px) {
  .promo-full {
    padding: 9em 0; }
    .promo-full .promo-inner {
      width: 40%; } }

.app-promo-full {
  background-color: #1F232A;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6em 0; }
  .app-promo-full .app-promo-inner h1 {
    margin-bottom: 20px; }
  .app-promo-full .app-promo-inner p {
    margin-bottom: 2.2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .app-promo-full .app-promo-inner .buttons a {
    margin: 0 0.3em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
    .app-promo-full .app-promo-inner .buttons a img {
      margin-right: 0.4em;
      margin-top: -0.3em; }

@media (min-width: 768px) {
  .app-promo-full {
    padding: 7em 0; }
    .app-promo-full .app-promo-inner {
      width: 70%; }
      .app-promo-full .app-promo-inner p {
        margin-bottom: 2.4em; }
      .app-promo-full .app-promo-inner .buttons a {
        margin: 0 0.45em; } }

@media (min-width: 1200px) {
  .app-promo-full .app-promo-inner {
    width: 60%; }
    .app-promo-full .app-promo-inner .buttons a {
      margin: 0 0.5em; } }

footer.site-footer {
  padding-top: 4em;
  padding-bottom: 4em; }
  footer.site-footer .site-footer-inner .links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    footer.site-footer .site-footer-inner .links a {
      width: 100%;
      color: #D8D8D8;
      margin-bottom: 10px; }
  footer.site-footer .site-footer-inner .rrss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px; }
    footer.site-footer .site-footer-inner .rrss a {
      padding: 0 12px; }
      footer.site-footer .site-footer-inner .rrss a img {
        width: 24px; }

@media (min-width: 768px) {
  footer.site-footer .site-footer-inner .links {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    footer.site-footer .site-footer-inner .links a {
      margin-bottom: 0; }
  footer.site-footer .site-footer-inner .rrss {
    width: auto;
    margin-top: 30px; }
    footer.site-footer .site-footer-inner .rrss a {
      padding: 0 20px; }
      footer.site-footer .site-footer-inner .rrss a img {
        width: 26px; } }

@media (min-width: 1024px) {
  footer.site-footer .site-footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer.site-footer .site-footer-inner .links {
      width: 70%;
      display: block; }
      footer.site-footer .site-footer-inner .links a {
        margin-right: 60px; }
        footer.site-footer .site-footer-inner .links a:last-child {
          margin-right: 0; }
    footer.site-footer .site-footer-inner .rrss {
      width: 30%;
      margin-top: 0;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      footer.site-footer .site-footer-inner .rrss a {
        padding: 0;
        padding-left: 34px; } }
